api==0.0.7
blinker==1.4
dj-database-url==0.5.0
django-mailgun==0.9.1
Django==2.2.7
django-debug-toolbar==2.1
django-online-users==0.3
django-recaptcha==2.0.5
django-heroku==0.3.1
gunicorn==20.0.0
Jinja2==2.10.1
langdetect==1.0.7
psycopg2-binary==2.8.4
pycountry==19.8.18
python-dateutil==2.8.1
newsapi-python==0.2.6
python-http-client==3.2.1
requests==2.22.0
sqlparse==0.3.0
django-test-tools==1.6.1
django-test-generator==0.6.1
urllib3==1.25.7
virtualenv==16.7.7